@{
    Layout = "~/Views/_LayoutPageBanner.cshtml";
}

@section head{
    <title>Animations</title>
    <link href="~/Content/Styles/AnimationsStyles.css" rel="stylesheet" />
    <script src="~/Content/Scripts/Globals.js"></script>
    <script src="~/Content/Scripts/AnimationsScripts.js"></script>
}

<main>
    <h1 class="sectionTitle">Features</h1>
    <section id="features">
        <img src="~/Content/loading.gif" height="50" />
    </section>

    <h1 class="sectionTitle">Series</h1>
    <section id="series">
        <img src="~/Content/loading.gif" height="50" />
    </section>

    <h1 class="sectionTitle">Animations</h1>
    <section id="animations">
        <img src="~/Content/loading.gif" height="50" />
    </section>
</main>

<video src="~/Content/happyiroh.webm" autoplay loop muted></video>