
/*
    page layout
*/
main {
    display: flex;
    height: calc(100vh - 120px);
    justify-content:center;
    align-items:center;
}

/*
    background
*/
video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

/*
    general styles
*/
#wrapper {
    background-color: rgba(255, 255, 255, .5);
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td:first-child {
    text-align: left;
}

tbody tr {
    height: 30px;
}

tbody tr:nth-child(even) {
    background-color: rgba(255,255,255,.2)
}

tbody tr:hover {
    box-shadow: 0 0 10px black;
}

main button{
}

/*
    footer styles
*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer a {
    color: grey;
}
