body {
    display: flex;
    height: 100vh;
    flex-flow: column;
}

main {
    margin: 0 15%;
    padding: 10px;
    background-color: rgba(255,255,255,.5);
    display: flex;
    flex-flow: column;
    flex: 1;
}

#titleArea {
    display: flex;
}

#title {
    text-align: center;
    font-size: 300%;
}

#titleAndDate {
    display: flex;
    flex-flow: column;
    text-align: center;
    flex: 1;
}

#socialMedia {
    justify-content: center;
    align-self: center;
}

#socialMedia img {
    height: 30px;
}

#uploadDate {
    font-size: 90%;
}

#videoContainer {
    position: relative;
    flex: 1;
    display: flex;
}

#player {
    width: 100%;
    height: 100%;
    margin: auto;
}


/*
    Replay Options
*/
h2 {
    text-align: center;
}

#replayOptions {
    width: 100%;
    height: 100%;
    position: relative;
    flex-flow: column;
    justify-content: center;
}

#suggestedAnimations {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

article {
    position: relative;
    margin: 10px;
}

article img {
    max-height: 150px;
    display: block;
}

.textContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

article .title {
    padding: 5px;
    font-size: inherit;
    font-weight: normal;
}

#replayButton {
    border: none;
    color: black;
    background-color: rgba(255,255,255,.5);
    font-size: 300%;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

/* Transitions */
.textContainer {
    background-color: rgba(0,0,0,.8);
    opacity: 0;
    transition: opacity .5s;
}

.textContainer:hover {
    opacity: 1;
}

.hidden {
    display: none !important;
}


/*
    Corrections for mobile
*/
@media (max-device-width : 480px) {
    main {
        margin: 0;
    }
}



video {
    position: fixed;
    right: 0;
    top: 120px;
    min-width: 100%;
    z-index: -1;
}
