body {
    display: flex;
    height: 100vh;
    flex-flow: column;
}

main {
    margin: 0 15%;
    padding: 10px;
    background-color: rgba(255,255,255,.5);
    display: flex;
    flex-flow: column;
    flex: 1;
}


/*
    Title area
*/
#titleArea {
    display: flex;
}

#title {
    text-align: center;
    font-size: 300%;
    flex: 1;
}

#socialMedia img {
    height: 30px;
}


/*
    Series Animations
*/
#animations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#animations article {
    margin: 0 10px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

#animations article img {
    max-height: 100px;
}

#animations .title {
    text-align: center;
}

#animationDescription {
    text-align: center;
    margin-bottom: 10px;
}

/* Transitions */
#animations article {
    background-color: transparent;
    transition: background-color .5s;
}

#animations article:hover {
    background-color: rgba(255,255,255,.8);
}

/*
    Video player
*/
#videoContainer {
    position: relative;
    flex: 1;
    display: flex;
}

#player {
    width: 100%;
    height: 100%;
    margin: auto;
}

.hidden {
    display: none !important;
}


/*
    Replay Options
*/
h2 {
    text-align: center;
}

#replayOptions {
    width: 100%;
    height: 100%;
    position: relative;
    flex-flow: column;
    justify-content: center;
}

#suggestedSeries {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#replayOptions article {
    position: relative;
    margin: 10px;
}

#replayOptions article img {
    max-height: 150px;
    display: block;
}

.textContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#replayOptions .title {
    padding: 5px;
    font-size: inherit;
    font-weight: normal;
    text-align: center;
}

#replayButton {
    border: none;
    color: black;
    background-color: rgba(255,255,255,.5);
    font-size: 300%;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

/* Transitions */
.textContainer {
    background-color: rgba(0,0,0,.8);
    opacity: 0;
    transition: opacity .5s;
}

.textContainer:hover {
    opacity: 1;
}


/*
    Corrections for mobile
*/
@media (max-device-width : 480px) {
    main {
        margin: 0;
    }

    body {
        height: auto;
    }

    #videoContainer {
        height: 300px;
    }
}

@media (min-device-width : 480px) and (max-device-width : 800px) {
    body {
        min-height: 850px;
    }
}



video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}
