@{
    Layout = "~/Views/_LayoutPageBanner.cshtml";
}

@section head{
    <title>Home</title>
    <link href="~/Content/Styles/HomeStyles.css" rel="stylesheet" />
}

<main>
    <h2>Home</h2>
</main>

<footer>
    <a href="~/Admin/CMS">Admin Area</a>
</footer>