
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/_LayoutPageBanner.cshtml";
}

@section head{
    <title>About Us</title>
    <link rel="stylesheet" href="~/Content/Styles/AboutUsStyles.css" />
}

<main>
    <h1 id="pageTitle">Just Who the Hell do You Think We Are?</h1>

    <article class="person">
        <img src="~/Content/AboutUs/grant.jpg" />
        <section>
            <header>
                <h2 class="name">Grant Wooley</h2>
                <address>WooleyWorld@hotmail.com</address>
            </header>
            <p>
                This guy puts the Wooley in WooleyWorld. The head honcho. The wizard of wool. The finazzler of fuzz. This guy animates and makes lewds on a secret account, most degenerate.
            </p>
        </section>
    </article>

    <article class="person">
        <img src="~/Content/AboutUs/tristan.jpg" />
        <section>
            <header>
                <h2 class="name">Tristan Weihmann</h2>
                <address>triwa10@gmail.com</address>
            </header>
            <p>
                I'm the guy who doesn't really do anything, but I get to be here because Grant's known me for a long time and I put together this website. I'm pretty bad at art but somehow know more about 3d stuff and after effects than someone who took a college degree in it.
            </p>
        </section>
    </article>
</main>

<video src="~/Content/monsterbg.webm" autoplay loop></video>